/** @format */
.cms-blog-page {
  width: auto;
  background-color: transparent;
  border-radius: 4px;
  padding: 20px;
}

.cms .blog-page-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cms .blog-page-cards .blog-card {
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
  width: 290px;
  height: 215px;
  border: 1px solid #d3d3d3;
  box-shadow: rgb(0 0 0 / 12%) 0px 8px 24px;
  text-align: center;
}

.cms .blog-card .top {
  display: flex;
  flex-direction: column;
}

.cms .blog-card .blog-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background-color: aliceblue;
}

.cms .blog-card .blog-bottom p {
  font-size: small;
  text-align: start;
  margin-bottom: 0rem;
  height: 90px;
}

.cms .blog-card .blog-bottom .blog-page-title {
  font-weight: 800;
}

.cms .blog-page-cards img {
  height: 60px;
  width: 100%;
  margin: auto;
  padding: 0.2rem 0;
}

.sb-blog-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 20px;
  margin-top: 115px;
}

@media screen and (max-width: 940px) {
  .cms .container {
    grid-template-columns: 1fr;
  }

  .cms .left .btn {
    align-self: center;
  }
}

@media screen and (max-width: 478px) {
  .cms .container .right .blog-card {
    width: 100%;
  }

  .cms .right img {
    width: auto;
    margin: auto;
    padding: 0.2rem 0;
  }
}

button#sb-blog-page-button {
  background-color: #f17232;
  border: 0px solid #ccc;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  font-size: small;
  color: rgb(255, 255, 255);
}

.pagination {
  list-style: none;
  font-size: 1.2rem;
  gap: 10px;
}

.pagination .page-num {
  padding: 8px 3px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  color: #767676 !important;
}
/* .pagination .page-num:hover {
  border-radius: 30px;
  background-color: #f17232;
} */

.pagination .active {
  background-color: #bebebe;
  border-radius: 30px;
  font-weight: bold;
}
.active .page-num {
  font-weight: bold;
  color: rgb(12, 12, 12) !important;
}

li.disabled {
  display: none;
}
