/** @format */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 2rem;
}

.nav-container {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  gap: 30px;
}

.background {
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 270px;
}

.nav-link--active {
  border-bottom: 2px solid #f17232;
}
