/** @format */
label {
  font-size: small;
}

.cms {
  background-color: aliceblue;
  border-radius: 4px;
  padding: 20px;
}

.cms .blog-container input,
textarea,
select {
  margin-bottom: 15px;
}

.cms .blog-container input {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  border: 0px solid #ccc;
  background-color: rgb(208, 199, 199);
}
.cms .blog-container input::placeholder {
  color: rgb(137, 137, 137);
  font-style: italic;
  font-size: small;
}

.cms .blog-container textarea::placeholder {
  color: rgb(137, 137, 137);
  font-style: italic;
  font-size: small;
}

.form-control {
  background-color: rgb(208, 199, 199);
  border-radius: 2px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: rgb(208, 199, 199);
  border-color: #ffffff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 216, 216, 0.25);
}

select {
  height: 44px;
  padding: 10px;
}

select:required:invalid {
  color: gray;
  font-style: italic;
  font-size: small;
  border-radius: 2px;
  border: 0px solid #ccc;
  background-color: rgb(208, 199, 199);
}

option[value=''][disabled] {
  display: none;
}

.cms .blog-container .upload {
  display: flex;
}

.check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 48px;
  background-color: rgb(208, 199, 199);
}

button.sb-upload-button {
  background-color: rgb(137, 137, 137);
  border: 0px solid #ccc;
  border-radius: 20px;
  height: 25px;
  width: 110px;
  font-size: small;
  color: rgb(255, 255, 255);
}

.custom-file > input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  &::-webkit-file-upload-button {
    display: none;
  }
  &::file-selector-button {
    display: none;
  }

  &:hover {
    label {
      background-color: #dde0e3;
      cursor: pointer;
    }
  }
}

button#sb-button {
  background-color: #f17232;
  border: 0px solid #ccc;
  border-radius: 20px;
  height: 40px;
  width: 180px;
  font-size: small;
  color: rgb(255, 255, 255);
}

.sb-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0 20px;
}
