/** @format */
.blog-post .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  max-width: 1400px;
}
.blog-post .container .left {
  margin: 0 20px;
  min-height: 800px;
  width: 550px;
}
.blog-post .container .right {
  margin: 0 20px;
  min-height: 800px;
  width: 740px;
}
