/** @format */
.blog-post .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}
.blog-post .container .left {
  margin: 0 20px;
  min-height: 800px;
  width: 550px;
}
.blog-post .container .right {
  margin: 0 20px;
  min-height: 800px;
  width: 740px;
}

@media screen and (max-width: 1330px) {
  .blog-post .container {
    grid-template-columns: 1fr;
  }

  .blog-post .container .left {
    width: auto;
  }
}
